body{
    background-color: antiquewhite;
    margin: 0%;
    font-size: 125%;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 42px;
    /* padding-left: 40px; */
    margin-bottom: 30px;
    margin-top: 20px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

h3 {
    font-weight: 600;
    margin-top: 20px;
}

nav {

    background-color: #e2c498;
    list-style: none;
    text-align: center;
}

nav li {
    display:inline;
}

nav a{
    display:inline-block;
    padding:20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 15%;
}

nav a.current {
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

.grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    row-gap: 40px;
    border-radius: 25px;
    margin-top: 40px;
}

.grid div{
    /* Set border properties, padding, and background color */
    /* border: 5px solid black; */
    border-radius: 25px;
    background-color: #AD8E70;
    
}

.grid div h3 {
    text-align: center;
    padding-bottom: 20px;
}

.grid div p {
    line-height: 1;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;

}

.grid img{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 25px;
    padding: 10px;
}

img{
    width: 100%;
    height: auto;
    /* display: block; */
    margin: auto;
    margin-top: 20px;
}

img:hover {
    border: 2px solid black;
}

.banner {
    width: 100%;
}

p{
    line-height: 1.5;
    margin-top: 10px;
}

li {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.intro, .literature, .history_politics, .feminist, .disclaimer {
    width: 70%;
    text-align: justify;
    margin: auto;
    padding-top: 40px;
}

.skip-to-main {

  left: 1%;
  position: absolute;
  transform: translateY(-100%);
  background: #ffffff;
  height: 30px;
  padding: 8px;
}

.skip-to-main:focus {
    transform: translateY(0%);
}

footer {
    background-color: #e2c498;
    padding: 5px;
}

.icon {
    display: none;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

 

/* ------------------------------------------------------------*/


@media screen and (max-width: 400px){ 
    
    body {
        background-image: url('../images/pngkey\ 1.png');
        font-family: 'Poppins', 'Lato', sans-serif;
        font-size: 14px;
    }

    /* nav {

        background-color: #e2c498;
        list-style: none;
        text-align: center;
    } */

    nav {
        overflow: hidden;
        background-color: #e2c498;
        position: relative;
    }

    #nav-list {
        display: none;
    }

    nav a {
        color: black;
        /* padding: 14px 16px; */
        width: auto;
        text-decoration: none;
        font-size: 16px;
        display: flex;
    }
    
    nav a.icon {
        background: #e2c498;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav a:hover {
        background-color: #927a57;
        color: black;
    }

    nav a.current {
        text-decoration-line: underline;
        text-underline-offset: 4px;
    }

    h1{
        font-family: 'Poppins', 'Lato', sans-serif;
        text-align: center;
        font-size: 28px;
        /* padding-left: 40px; */
        margin-bottom: 30px;
        margin-top: 20px;
    }
    
    h2{
        font-family: 'Poppins', 'Lato', sans-serif;
        font-size: 22px;
        font-weight: 600;
    }

    h3 {
        font-weight: 600;
        margin-top: 20px;
        font-size: 18px;
    }

    .disclaimer p {
        font-style: italic;
        font-weight: 100;
        font-size: 12px;
    }

    @keyframes move {
        from {width: 25%;}
        to {width: 45%;}
      }

    img{
        width: 45%;
        display: block;
        margin: auto;
        margin-top: 20px;
        animation-name: move;
        animation-duration: 1s;
        border-radius: 8px;

    }

    footer {
        background-color: #e2c498;
        padding: 5px;
        text-align: center;
        margin-top: 80px;
        padding-bottom: 20px;
    }

    footer, .thanks {
        font-size: 12px;
    }

    .dict_child {
        width: 85%;
        margin: auto;
        background-color: rgb(128, 135, 110);
        border-radius: 8px;
        padding-bottom: 5%;
        
    }

    .dict_child h3 {
        text-align: center;
        font-weight: 700;
    }

    .dict_child p {
        margin-left: 10%;
        margin-right: 10%;
        padding: 10px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .title_line p { 
        width: 85%;
        text-align: left;
        margin: auto;
        padding-bottom: 20px;
    }
  
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .history {
        width: 85%;
        margin: auto;
        background-color: rgb(128, 135, 110);
        border-radius: 8px;
        padding-bottom: 5%;
    }
    
    .flex_container_history {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .history p {
        margin-left: 10%;
        margin-right: 10%;
        padding: 10px;
    }

    .history h2 {
        text-align: center;
        padding-top: 20px;
    }

    figure figcaption {
        text-align: center;
        font-style: italic;
        font-weight: 100;
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 16px;
    }

    .card {
        width: auto;
        height: auto;
        position: relative;
        border-radius: 10px;
        margin-bottom: 1rem;
        margin-top: 20%;
    }

    .card > .front, .card > .back {
        height: auto;
        /* padding: 1em, 2em; */
    }

    .front {
        border-radius: 10px;
        transform: rotateY(0deg);
        background-color: #ffffff;
        margin-top: 20%;
    }

    .front h3 {
        text-align: center;
        padding: 1rem;
    }

    .front p {
        padding: 1rem;
        padding-bottom: 2rem;
    }

    .back {
        transform: rotateY(-180deg);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: #ffffff;
        border-radius: 10px;

    }

    .back p {
        padding: 1rem;
        /* padding-bottom: 1rem; */
    }

    .back h3 {
        text-align: center;
        padding: 1rem;
    }

    .back li {
        line-height: 1rem;
        font-size: 12px;
    }

    .card:hover > .front {
        transform: rotateY(180deg);
        opacity: 0;
    }
    
    .card:hover > .back {
        transform: rotateY(0deg);
        opacity: 1;
    }
    
    .front .back {
        background-color: white;
        transition-property: transform, opacity;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
    }



  }
  
    @media screen and (max-width:850px) {

        .card {
            width: auto;
            height: auto;
            position: relative;
            border-radius: 10px;
            margin-bottom: 1rem;
        }

        .card > .front, .card > .back {
            height: auto;
            /* padding: 1em, 2em; */
        }

        .front {
            border-radius: 10px;
            transform: rotateY(0deg);
            background-color: #ffffff;
        }

        .front h3 {
            text-align: center;
            padding: 1rem;
        }

        .front p {
            padding: 1rem;
            padding-bottom: 2rem;
        }

        .back {
            transform: rotateY(-180deg);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: #ffffff;
            border-radius: 10px;

        }

        .back p {
            padding: 1rem;
            /* padding-bottom: 1rem; */
        }

        .back h3 {
            text-align: center;
            padding: 1rem;
        }

        .back li {
            line-height: 2rem;
        }

        .card:hover > .front {
            transform: rotateY(180deg);
            opacity: 0;
        }
        
        .card:hover > .back {
            transform: rotateY(0deg);
            opacity: 1;
        }
        
        .front .back {
            background-color: white;
            transition-property: transform, opacity;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
            background-color: #ffffff;
        }


        .dict_child {
            width: 85%;
            margin: auto;
            background-color: rgb(128, 135, 110);
            border-radius: 8px;
            padding-bottom: 5%;
            
        }
    
        .dict_child h3 {
            text-align: center;
            font-weight: 700;
        }
    
        .dict_child p {
            margin-left: 10%;
            margin-right: 10%;
            padding: 10px;
        }
    
        .flex-container {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    
        .title_line p { 
            width: 85%;
            text-align: left;
            margin: auto;
            padding-bottom: 20px;
        }

        .history {
            width: 85%;
            margin: auto;
            background-color: rgb(128, 135, 110);
            border-radius: 8px;
            padding-bottom: 5%;
        }
        
        .flex_container_history {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    
        .history p {
            margin-left: 10%;
            margin-right: 10%;
            padding: 10px;
        }
    
        .history h2 {
            text-align: center;
            padding-top: 20px;
        }
    
        figure figcaption {
            text-align: center;
            font-style: italic;
            font-weight: 100;
            font-size: 12px;
            padding-top: 8px;
            padding-bottom: 16px;
        }
    }
    
  
     @media screen and (prefers-reduced-motion: reduce){
      /*Turn off scroll*/
      html{
        scroll-behavior: auto; /* Removes scroll animation */
      }
    
      /*Turn off transition*/
      a.skip {
        -webkit-transition: initial; /* sets to default setting */
        transition: initial; /* sets to default setting */
      }
    
      /*Turn off parallax*/
      .intro{
        background-attachment: initial;
      }

      .animate {
        /* Stop the animation */
        animation: none;
      }
    }